body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
}

nav {
  max-width: 1300px;
  height: 60px;
  margin: 0 auto;
  padding: 20px 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 20px;
}
